 
<ul class="nav nav-tabs navbar-light"  style="background-color: #e3f2fd;">
    <li class="nav-item ">
      <a class="nav-link bi-arrow-left-right" aria-current="page" routerLink="/transacciones">📊Transacciones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ingresos">💰Ingresos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/gastos">💸Gastos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tarjeta">👩‍💻Acerca del creador</a>
    </li>
  </ul>
 
<router-outlet></router-outlet>