 
<div class="container">
  <div class="row">
      <div class="col12">
  <div class="card border-info mt-5" style="max-width: 18rem;">
    <div class="col-md-4">
      <img src="../../assets/img/foto.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="card-header">Ileana Hernandez</div>
    <div class="card-body">
      <h5 class="card-title">Ingeniero en sistemas y computacifon</h5><br>
      <p class="card-text">Mas de 5 periodos de experiencia desarrollando aplicaciones ASP .Net con C#</p>
    </div>
  </div>
</div>
</div>
</div>