<!-- <app-tarjeta    nombre="Ileana Hernandez"
                titulo="Ingeniera en Sistemas"
                bio="Developer c# ASP MVC .net, incursionando en Angular para crecer profesionalmente."
></app-tarjeta>
<app-tarjeta>   </app-tarjeta> -->

<!-- Directiva For en angular -->
 <!-- <app-tarjeta *ngFor="let persona of personas"
[nombre]="persona.nombre"
[title]="persona.title"
[bio]="persona.bio"
></app-tarjeta>   -->

<!-- Directiva switch en angular -->
<!-- <app-tarjeta-switch  *ngFor="let persona of personas"
[nombre]="persona.nombre"
[title]="persona.title"
[bio]="persona.bio"></app-tarjeta-switch> -->
 

<app-listado-personas></app-listado-personas>